

.app{
    padding: 25px ;
   border-radius: 10px;
   box-shadow: #131312;
    max-width: 340px;
    height: 360px;
    align-items: center;
   background-position: center;
    background-image: linear-gradient(55deg, rgb(220, 181, 10),rgb(11, 173, 84));
  
    background-size: cover;
   
}
.input{
   padding: 10px;
    width: 80%;
    background-color: gold;
    font-size: 16px;
   outline: none;
   border: none;
   
   
}
.button{
    padding: 10px;
    background-color:gold;
    outline: none;
    color: blue;
    font-style: bold;
    outline: none;
}
.contain{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 15px;
   
}
.weather-data{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}
.temp{
    font-size: 25px;
    color: rgb(234, 233, 240);
    line-height:35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.text{
    font-size: 18px;
    text-align: left;
    color: white;
    
   
}
.cloud{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.welcome{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.desp{
    text-align: center;
}
.city{
    margin-top: 1px;
}
.whead{
    text-align: justify;

}
.rains{
   margin-top: 0.5px;
    border-radius: 10px;
    display: flex;
  
}
.sky{
    display: flex;
    justify-content: stretch;
}